@page {
  size: A4;
  margin: 5cm 1.2cm 1.2cm 8cm;

  @top-left-corner {
    content: "";
    background-color: var(--main-highlight-color);
  }

  @top-left {
    content: element(header);
    margin-left: -8cm;
    width: 210mm;
    background-color: var(--main-highlight-color);
  }

  @top-right-corner {
    content: "";
    background-color: var(--main-highlight-color);
  }

  @left-top {
    content: element(aside);
    background-color: var(--secondary-highlight-color);
  }

  @bottom-left-corner {
    content: "";
    background-color: var(--secondary-highlight-color);
  }
}

@page: blank{
  @top-center {
    content: "";
  }
};
