@prince-pdf {
  -prince-pdf-output-intent: url("ISOcoated_v2_eci.icc");
}
@page {
  size: A4 landscape;
  margin: 30mm;
  background-color: white;

  @top-right {
    content: element(top-right-html);
    text-align: right;
    vertical-align: bottom;
  }

  @top-right-corner {
    content: element(top-right-corner-html);
    text-align: left;
    vertical-align: top;
  }

  @right-top {
    content: element(right-top-html);
    text-align: left;
    vertical-align: top;
  }

  @bottom-right-corner {
    content: element(bottom-right-corner-html);
    text-align: right;
    vertical-align: top;
  }
}

@page cover {
  margin: 0;
  background-color: black;

  @top-right {
    content: none;
  }
}
@page section {
  margin: 0;
  background-color: gray;

  @top-right {
    content: none;
  }
}

.top-right-area {
  height: 30mm;
  position: running(top-right-html);
}
.top-right-corner-area {
  height: 30mm;
  width: 30mm;
  position: running(top-right-corner-html);
}
.right-top-area {
  width: 30mm;
  position: running(right-top-html);
}
.bottom-right-corner-area {
  width: 30mm;
  height: 30mm;
  position: running(bottom-right-corner-html);
}
.bottom-right-corner-area > div > .page-number::after {
  content: counter(page);
}

.section h1 {
  color: white;
  font-size: 2rem;
  width: 25%;
  line-height: 1.2;
}

.new-page {
  break-before: page;
}

.top-right-area > div {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 15mm;
}
.top-right-area h6 {
  font-size: 14px;
  margin: 14mm 0 0 0;
}

.top-right-corner-area > div {
  height: 15mm;
  width: 100%;
  padding-left: 15mm;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-right-corner-area > div > span {
  width: 5px;
  height: 100%;
  background-color: black;
}

.right-top-area > div {
  padding-left: 15mm;
}
.right-top-area > div > .year {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  margin-bottom: 25mm;
}
.right-top-area > div > .year > span {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}
.right-top-area > div > .section-header-image img {
  width: 100%;
  height: auto;
}

.bottom-right-corner-area > div {
  padding-left: 15mm;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-right-corner-area > div > .page-number {
  font-size: 20px;
}
.bottom-right-corner-area > div > .black-line {
  width: 7mm;
  height: 5px;
  background-color: black;
}


/* content  */
.container {
  display: flex;
}

.image-column {
  flex: 1;
  max-width: 25%;
  margin-right: 10mm;
}

.image-column img {
  width: 100%;
  height: auto;
}

.text-columns {
  flex: 3;
  max-width: 75%;
  column-count: 3;
  column-gap: 10mm;
  column-fill: auto;
}

.text-columns p, .text-columns h2 {
  margin: 0;
  break-inside: avoid;
  orphans: 3;
  widows: 3;
}

.column-1 > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.blue-text {
  color: blue;
  font-size: 2rem;
}

